.~lock.*#
__pycache__/
.pytest_cache/
output/
bin/hadros3_*
configs/
tmp/powheg_smoke/
output/POWHEG_smoke/
external/powheg/POWHEG-BOX-RES/
external/powheg/POWHEG_SOURCE.json
external/powheg/build/
external/powheg/**/*.o
external/powheg/**/pwhg_main
*.lhe
*.log
